.container-cale{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.top-cale{
	width: 100%;
	height: 50px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}
.top-cale div{
	display: inline-block;
	margin: 5px 1%;
	height: 40px;
	line-height: 40px;
	width: calc(86% / 7);
	font-size: 18px;
	text-align: center;
}
.top-cale div:nth-child(1){
	color: red;
}
.top-cale div:nth-child(3){
	color: red;
}
.top-cale div:nth-child(4){
	color: red;
}
.top-cale div:nth-child(6){
	color: red;
}
.center-cale{
	width: 100%;
	height: 40px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}
.center-cale div{
	display: inline-block;
	margin: 0 1%;
	height: 40px;
	line-height: 40px;
	width: calc(86% / 7);
	text-align: center;
	font-weight: bold;
}
.bottom-cale{
	width: 100%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}
.cale-item{
	display: inline-block;
	margin: 0 1%;
	height: 40px;
	width: calc(86% / 7);
}
.cale-day{
	height: 40px;
	width: 100%;
	line-height: 40px;
	text-align: center;
}
.cale-meg{
	position: absolute;
	background-color: white;
	display: none;
	width: calc(86% / 7);
	text-align: center;
	border-style: dashed;
	border-width: 1px;
	border-color: #000000;
	word-wrap: break-word;
}